doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/list.js')
		script(src='/javascripts/drag.js')
		script(src='/javascripts/moment.min.js')
	body
		block content