extends layout
block content
	.img-timeline
		//时间线
		.timeline
			ul.content
				li.item
					a(href="#") 2014
					ul.sub-content
						li.sub-item
							a(href="#",class="active") 1月
				li.item
					a(href="#") 2013
				li.item
					a(href="#") 2012
				li.item
					a(href="#",class="active") 2011
				li.item
					a(href="#") 2010
		//显示年月日fixed
		#nyr(class='nyr')
			span#year.year 2014年
			span#month.month 02月
			span#date.date 07日
		ul.img-content
			each date in data
				each val, key in date
					//li.item
					//	ul.sub-content
					if(data)
						for img in val
							li.item(data-year=img.year,data-month=img.month,data-date=img.date)
								span.item-pin
								span.item-time=img.time
								img(src="/"+img.path)

		//图片拖拽区域
		section.drag
			header
				h1 拖拽上传
				span#error(class='error') 图片重名了，请重命名
			article
				#holder
				p#upload(class="hidden")
					label Drag & drop not supported, but you can still upload via this input field:<br>
						<input type="file">
				p#filereader File API & FileReader API not supported
				p#formdata XHR2's FormData is not supported
				p#progress XHR2's upload progress isn't supported</p>
				p
					span(style="display:block;margin-bottom: 10px;") 上传进度:
					progress#uploadprogress(min="0",max="100",value="0")
					span#uploadNum 0
					span %

